/*
Theme Name: Liquid_SunSet
Description: Liquid_SunSet, Artisteer-generated Drupal theme.
Version: 1.0
Author: Artisteer
Author URI: http://artisteer.com/
*/

/* begin Page */
/* Created by Artisteer v3.0.0.32906 */

#art-main, table
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

body
{
  margin: 0 auto;
  padding: 0;
  color: #B8B8B8;
  background-color: #222222;
  background-image: url('images/Bottom_texture.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: justify;
}

.art-postcontent p
{
    margin: 12px 0 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 32px;
}

.art-postcontent a
{
  text-decoration: none;
  color: #D5916C;
}

.art-postcontent a:link
{
  text-decoration: none;
  color: #D5916C;
}

.art-postcontent a:visited, .art-postcontent a.visited
{

  color: #8E8E8E;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{

  text-decoration: underline;
  color: #DB9F39;
}


.art-postcontent h1
{
   margin: 21px 0 21px 0; 
   color: #D5916C;
 
}

.art-postcontent h2
{
    color: #D5916C;
   margin: 19px 0 19px 0; 
   font-size: 24px;   
}

.art-postcontent h3
{
   margin: 19px 0 19px 0; 
  color: #ECECEC; 
  font-size: 19px;    
}

.art-postcontent h4
{
   margin: 20px 0 20px 0; 
   color: #B8B8B8; 
   font-size: 16px;   
}

.art-postcontent h5
{
   margin: 26px 0 26px 0; 
   color: #B8B8B8;   
   font-size: 13px;
}

.art-postcontent h6
{
   margin: 35px 0 35px 0; 
   color: #B8B8B8;
   font-size: 11px;      
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

#art-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}




.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}


/* Image Assist module support */
body.img_assist
{
	background-color: #222222 !important;
	color: #B8B8B8;
}
/* end Page */

/* begin Box, Sheet */
.art-sheet
{
  position: relative;
  margin: 0 auto;
  min-width: 95px;
  min-height: 95px;
}

.art-sheet-body
{
  position: relative;
  padding: 10px;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  position: absolute;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
  width: 114px;
  height: 114px;
  background-image: url('images/sheet_s.png');
}

.art-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 57px, 57px, auto);
}

.art-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 57px, 57px);
}

.art-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(57px, 57px, auto, auto);
}

.art-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(57px, auto, auto, 57px);
}

.art-sheet-tc, .art-sheet-bc
{
  left: 57px;
  right: 57px;
  height: 114px;
  background-image: url('images/sheet_h.png');
}

.art-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 57px, auto);
}

.art-sheet-bc
{
  bottom: 0;
  clip: rect(57px, auto, auto, auto);
}

.art-sheet-cr, .art-sheet-cl
{
  top: 57px;
  bottom: 57px;
  width: 114px;
  background-image: url('images/sheet_v.png');
}

.art-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 57px);
}

.art-sheet-cl
{
  left: 0;
  clip: rect(auto, 57px, auto, auto);
}

.art-sheet-cc
{
  position: absolute;
  top: 57px;
  left: 57px;
  right: 57px;
  bottom: 57px;
  background-color: #303030;
}

.art-sheet
{
  top: 50px !important;
  margin-bottom: 50px !important;
  cursor:auto;
  width: 900px;
}


/* end Box, Sheet */

/* begin Menu */
/* menu structure */

.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
    outline: none;
}

.art-menu, .art-menu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.art-menu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.art-menu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.art-menu li li
{
  float: none;
}

.art-menu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background: none;
}

.art-menu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.art-menu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.art-menu:after, .art-menu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.art-menu, .art-menu ul
{
  min-height: 0;
}

.art-menu ul
{
  background-image: url('images/spacer.gif');
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.art-menu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}




div.art-nav-center
{
  position: relative;
  float: right;
  right: 50%;

}

ul.art-menu
{
  position: relative;
  float: left;
  left: 50%;
}

.firefox2 ul.art-menu
{
  float: none;
}


/* menu structure */

.art-menu
{
  padding: 3px 32px 3px 32px;
}

.art-nav
{
  position: relative;
  min-height: 34px;
  z-index: 100;
}

.art-nav .l, .art-nav .r
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background-image: url('images/nav.png');
}

.art-nav .l
{
  left: 0;
  right: 32px;
}

.art-nav .r
{
  right: 0;
  width: 880px;
  clip: rect(auto, auto, auto, 848px);
}


/* end Menu */

/* begin MenuItem */
.art-menu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 28px;
  cursor: pointer;
  text-decoration: none;
}


.art-menu ul li
{
    margin:0;
    clear: both;
}


.art-menu a .r, .art-menu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 94px;
  background-image: url('images/menuitem.png');
}

.art-menu a .l
{
  left: 0;
  right: 4px;
}

.art-menu a .r
{
  width: 408px;
  right: 0;
  clip: rect(auto, auto, auto, 404px);
}

.art-menu a .t, .art-menu ul a, .art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
  text-align: left;
  text-decoration: none;
}

.art-menu a .t
{
  color: #E6BEA9;
  padding: 0 19px;
  margin: 0 4px;
  line-height: 28px;
  text-align: center;
}

.art-menu a:hover .l, .art-menu a:hover .r
{
  top: -33px;
}

.art-menu li:hover>a .l, .art-menu li:hover>a .r
{
  top: -33px;
}

.art-menu li:hover a .l, .art-menu li:hover a .r
{
  top: -33px;
}
.art-menu a:hover .t
{
  color: #BCBCBC;
}

.art-menu li:hover a .t
{
  color: #BCBCBC;
}

.art-menu li:hover>a .t
{
  color: #BCBCBC;
}


.art-menu a.active .l, .art-menu a.active .r
{
  top: -66px;
}

.art-menu a.active .t
{
  color: #ECCE9A;
}
/* end MenuItem */

/* begin MenuSeparator */
.art-menu .art-menu-li-separator
{
  display: block;
  width: 7px;
  height:28px;
}
.art-nav .art-menu-separator
{
  display: block;
  margin:0 auto;
  width: 1px;
  height: 28px;
  background-image: url('images/menuseparator.png');
}
/* end MenuSeparator */

/* begin MenuSubItem */
.art-menu ul a
{
  display: block;
  text-align: center;
  white-space: nowrap;
  height: 20px;
  width: 180px;
  overflow: hidden;
  line-height: 20px;
  background-image: url('images/subitem.png');
  background-position: left top;
  background-repeat: repeat-x;
  border-width: 1px;
  border-style: solid;
  border-color: #505050;
}

.art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.art-menu ul a, .art-menu ul a:link, .art-menu ul a:visited, .art-menu ul a:hover, .art-menu ul a:active, .art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 20px;
  color: #E6BEA9;
  font-size: 12px;
  margin:0;
  padding:0;
}

.art-menu ul li a:hover
{
  color: #C1C1C1;
  border-color: #505050;
  background-position: 0 -20px;
}

.art-menu ul li:hover>a
{
  color: #C1C1C1;
  border-color: #505050;
  background-position: 0 -20px;
}

.art-nav .art-menu ul li a:hover span, .art-nav .art-menu ul li a:hover span span
{
  color: #C1C1C1;
}

.art-nav .art-menu ul li:hover>a span, .art-nav .art-menu ul li:hover>a span span
{
  color: #C1C1C1;
}


/* end MenuSubItem */

/* begin Header */
div.art-header
{
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
}


div.art-header-center
{
	position: relative;
	width: 880px;
	left:50%;
}


div.art-header-png
{
  position: absolute;
  left:-50%;
  top: 0;
  width: 880px;
  height: 150px;
  background-image: url('images/header.png');
  background-repeat: no-repeat;
  background-position:center center; 
}


/* end Header */

/* begin Flash */
#art-flash-area
{
  position: absolute;
  top: 0;
  left: 0;
  width: 880px;
  height: 150px;
  overflow: hidden;
}

#art-flash-container
{
  position: absolute;
  top: -36px;
  left: -8px;
  width: 897px;
  height: 224px;
}

#art-flash-container div.art-flash-alt
{
    position: relative;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    top: 36px;
}
/* end Flash */

/* begin Logo */
div.art-logo
{
  display: block;
  position: absolute;
  left: 10px;
  top: 50px;
  width: 860px;
}

h1.art-logo-name
{
  display: block;
  text-align: center;
}

h1.art-logo-name, h1.art-logo-name a, h1.art-logo-name a:link, h1.art-logo-name a:visited, h1.art-logo-name a:hover
{
  font-size: 28px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #EFD4A5 !important;
}


h2.art-logo-text, 
h2.art-logo-text a,
h2.art-logo-text a:link,
h2.art-logo-text a:visited,
h2.art-logo-text a:hover
{
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #EFD4A5 !important;
}

h2.art-logo-text
{
  display: block;
  text-align: center;
}
/* end Logo */

/* begin Layout */
.art-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
}
.art-layout-cell, .art-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none !important;
  margin:0 !important;
  padding:0 !important;
}
.art-content-layout .art-content-layout{width: auto;margin:0;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell{display: table-cell;}
.art-layout-cell .art-layout-cell{display: block;}
.art-content-layout-row {display: table-row;}
.art-layout-glare{position:relative;}/* end Layout */

/* begin Box, Block, VMenuBlock */
.art-vmenublock
{
  position: relative;
  margin: 0 auto;
  min-width: 15px;
  min-height: 15px;
}

.art-vmenublock-body
{
  position: relative;
  padding: 8px;
}

.art-vmenublock-tr, .art-vmenublock-tl, .art-vmenublock-br, .art-vmenublock-bl, .art-vmenublock-tc, .art-vmenublock-bc,.art-vmenublock-cr, .art-vmenublock-cl
{
  position: absolute;
}

.art-vmenublock-tr, .art-vmenublock-tl, .art-vmenublock-br, .art-vmenublock-bl
{
  width: 14px;
  height: 14px;
  background-image: url('images/vmenublock_s.png');
}

.art-vmenublock-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 7px, 7px, auto);
}

.art-vmenublock-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 7px, 7px);
}

.art-vmenublock-bl
{
  bottom: 0;
  left: 0;
  clip: rect(7px, 7px, auto, auto);
}

.art-vmenublock-br
{
  bottom: 0;
  right: 0;
  clip: rect(7px, auto, auto, 7px);
}

.art-vmenublock-tc, .art-vmenublock-bc
{
  left: 7px;
  right: 7px;
  height: 14px;
  background-image: url('images/vmenublock_h.png');
}

.art-vmenublock-tc
{
  top: 0;
  clip: rect(auto, auto, 7px, auto);
}

.art-vmenublock-bc
{
  bottom: 0;
  clip: rect(7px, auto, auto, auto);
}

.art-vmenublock-cr, .art-vmenublock-cl
{
  top: 7px;
  bottom: 7px;
  width: 14px;
  background-image: url('images/vmenublock_v.png');
}

.art-vmenublock-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 7px);
}

.art-vmenublock-cl
{
  left: 0;
  clip: rect(auto, 7px, auto, auto);
}

.art-vmenublock-cc
{
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background-image: url('images/vmenublock_c.png');
}

.art-vmenublock
{
  margin: 7px;
}



#banner1, #banner2, #banner3, #banner4, #banner5, #banner6
{
  margin: 7px;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader
{
  margin-bottom: 7px;
}

.art-vmenublockheader, .art-vmenublockheader h3.t
{
  position: relative;
  height: 34px;
}

.art-vmenublockheader h3.t,
.art-vmenublockheader h3.t a,
.art-vmenublockheader h3.t a:link,
.art-vmenublockheader h3.t a:visited, 
.art-vmenublockheader h3.t a:hover
{
  color: #000000;
  font-size: 14px;
}

.art-vmenublockheader h3.t
{
  margin:0;
  padding: 0 10px 0 23px;
  white-space: nowrap;
  line-height: 34px;	
}

.art-vmenublockheader .l, .art-vmenublockheader .r
{
  position: absolute;
  height: 34px;
  background-image: url('images/vmenublockheader.png');
}

.art-vmenublockheader .l
{
  left: 0;
  right: 17px;
}

.art-vmenublockheader .r
{
  width: 880px;
  right: 0;
  clip: rect(auto, auto, auto, 863px);
}



.art-vmenublockheader .t h2.subject
{
  height: 34px;
  color: #000000;
  font-size: 14px;
  margin:0;
  white-space: nowrap;
  line-height: 34px;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublockcontent-body
{
  position: relative;
  padding: 0;
}


.art-vmenublockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublockcontent-body
{
  position: relative;
  padding: 0;
}


/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.art-vmenu, ul.art-vmenu li
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}/* end VMenu */

/* begin VMenuItem */
ul.art-vmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 36px;
  cursor: pointer;
  text-decoration: none;
}

ul.art-vmenu li.art-vmenu-separator
{
  display: block;
  padding: 2px 0 2px 0;
  margin: 0;
  font-size: 1px;
}

ul.art-vmenu .art-vmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  border: none;
}

ul.art-vmenu a .r, ul.art-vmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  height: 118px;
  background-image: url('images/vmenuitem.png');
}

ul.art-vmenu a .l
{
  left: 0;
  right: 18px;
}

ul.art-vmenu a .r
{
  width: 906px;
  right: 0;
  clip: rect(auto, auto, auto, 888px);
}

ul.art-vmenu a .t, ul.art-vmenu ul a
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
}

ul.art-vmenu a .t
{
  display: block;
  position:relative;
  top:0;
  line-height: 36px;
  color: #939393;
  padding: 0 14px 0 23px;
  margin-left:0;
  margin-right:0;
}

ul.art-vmenu a.active .l, ul.art-vmenu a.active .r
{
  top: -82px;
}

ul.art-vmenu a.active .t
{
  color: #745215;
}

ul.art-vmenu a:hover .l, ul.art-vmenu a:hover .r
{
  top: -41px;
}

ul.art-vmenu a:hover .t
{
  color: #745215;
}


/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul, ul.art-vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.art-vmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 20px;
  overflow: visible;
  background-image: url('images/vsubitem.gif');
  background-position: 25px 0;
  background-repeat: repeat-x;
  padding-left: 25px;
  border: solid 1px #505050;
}


ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

ul.art-vmenu ul a, ul.art-vmenu ul a:link, ul.art-vmenu ul a:visited, ul.art-vmenu ul a:hover, ul.art-vmenu ul a:active, ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  line-height: 20px;
  color: #C1C1C1;
  font-size: 11px;
  margin-left: 0;
}

ul.art-vmenu ul
{
    margin:0 3px 0 3px;
}

ul.art-vmenu ul ul
{
  margin:0 0 0 0;
}

ul.art-vmenu ul li.art-vsubmenu-separator
{ 
  display: block;
  margin: 0;
  font-size: 1px;
  padding: 0 0 0 0;
 }

ul.art-vmenu ul .art-vsubmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  margin: 0;
  border: none;
}

ul.art-vmenu ul li.art-vmenu-separator-first
{
    padding-bottom:2px;
}

ul.art-vmenu ul li li a
{
  background-position: 50px 0;
  padding-left: 50px;
}

ul.art-vmenu ul li li li a
{
  background-position: 75px 0;
  padding-left: 75px;
}

ul.art-vmenu ul li li li li a
{
  background-position: 100px 0;
  padding-left: 100px;
}

ul.art-vmenu ul li li li li li a
{
  background-position: 125px 0;
  padding-left: 125px;
}


ul.art-vmenu ul li a.active
{
  color: #EFD6A9;
  background-position: 25px -50px;
  border: solid 1px #5E5E5E;
}

ul.art-vmenu ul li li a.active
{
  background-position: 50px -50px;
}

ul.art-vmenu ul li li li a.active
{
  background-position: 75px -50px;
}

ul.art-vmenu ul li li li li a.active
{
  background-position: 100px -50px;
}

ul.art-vmenu ul li li li li li a.active
{
  background-position: 125px -50px;
}



ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a:hover.active
{
  color: #BCBCBC;
  background-position: 25px -25px;
  border: solid 1px #303030;
}


ul.art-vmenu ul li li a:hover, ul.art-vmenu ul li li a:hover.active
{
  background-position: 50px -25px;
}

ul.art-vmenu ul li li li a:hover, ul.art-vmenu ul li li li a:hover.active
{
  background-position: 75px -25px;
}

ul.art-vmenu ul li li li li a:hover, ul.art-vmenu ul li li li li a:hover.active
{
  background-position: 100px -25px;
}

ul.art-vmenu ul li li li li li a:hover, ul.art-vmenu ul li li li li li a:hover.active
{
  background-position: 125px -25px;
}
/* end VMenuSubItem */

/* begin Box, Block */
.art-block
{
  position: relative;
  margin: 0 auto;
  min-width: 15px;
  min-height: 15px;
}

.art-block-body
{
  position: relative;
  padding: 9px;
}

.art-block-tr, .art-block-tl, .art-block-br, .art-block-bl, .art-block-tc, .art-block-bc,.art-block-cr, .art-block-cl
{
  position: absolute;
}

.art-block-tr, .art-block-tl, .art-block-br, .art-block-bl
{
  width: 14px;
  height: 14px;
  background-image: url('images/block_s.png');
}

.art-block-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 7px, 7px, auto);
}

.art-block-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 7px, 7px);
}

.art-block-bl
{
  bottom: 0;
  left: 0;
  clip: rect(7px, 7px, auto, auto);
}

.art-block-br
{
  bottom: 0;
  right: 0;
  clip: rect(7px, auto, auto, 7px);
}

.art-block-tc, .art-block-bc
{
  left: 7px;
  right: 7px;
  height: 14px;
  background-image: url('images/block_h.png');
}

.art-block-tc
{
  top: 0;
  clip: rect(auto, auto, 7px, auto);
}

.art-block-bc
{
  bottom: 0;
  clip: rect(7px, auto, auto, auto);
}

.art-block-cr, .art-block-cl
{
  top: 7px;
  bottom: 7px;
  width: 14px;
  background-image: url('images/block_v.png');
}

.art-block-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 7px);
}

.art-block-cl
{
  left: 0;
  clip: rect(auto, 7px, auto, auto);
}

.art-block-cc
{
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background-color: #404040;
}

.art-block
{
  margin: 7px;
}



#banner1, #banner2, #banner3, #banner4, #banner5, #banner6
{
  margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
  margin-bottom: 4px;
}

.art-blockheader, .art-blockheader h3.t
{
  position: relative;
  height: 26px;
}

.art-blockheader h3.t,
.art-blockheader h3.t a,
.art-blockheader h3.t a:link,
.art-blockheader h3.t a:visited, 
.art-blockheader h3.t a:hover
{
  color: #000000;
  font-size: 14px;
}

.art-blockheader h3.t
{
  margin:0;
  padding: 0 11px 0 6px;
  white-space: nowrap;
  line-height: 26px;	
}

.art-blockheader .l, .art-blockheader .r
{
  position: absolute;
  height: 26px;
  background-image: url('images/blockheader.png');
}

.art-blockheader .l
{
  left: 0;
  right: 7px;
}

.art-blockheader .r
{
  width: 880px;
  right: 0;
  clip: rect(auto, auto, auto, 873px);
}



.art-blockheader .t h2.subject
{
  height: 26px;
  color: #000000;
  font-size: 14px;
  margin:0;
  white-space: nowrap;
  line-height: 26px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 15px;
  min-height: 15px;
}

.art-blockcontent-body
{
  position: relative;
  padding: 6px;
}

.art-blockcontent-tr, .art-blockcontent-tl, .art-blockcontent-br, .art-blockcontent-bl, .art-blockcontent-tc, .art-blockcontent-bc,.art-blockcontent-cr, .art-blockcontent-cl
{
  position: absolute;
}

.art-blockcontent-tr, .art-blockcontent-tl, .art-blockcontent-br, .art-blockcontent-bl
{
  width: 14px;
  height: 14px;
  background-image: url('images/blockcontent_s.png');
}

.art-blockcontent-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 7px, 7px, auto);
}

.art-blockcontent-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 7px, 7px);
}

.art-blockcontent-bl
{
  bottom: 0;
  left: 0;
  clip: rect(7px, 7px, auto, auto);
}

.art-blockcontent-br
{
  bottom: 0;
  right: 0;
  clip: rect(7px, auto, auto, 7px);
}

.art-blockcontent-tc, .art-blockcontent-bc
{
  left: 7px;
  right: 7px;
  height: 14px;
  background-image: url('images/blockcontent_h.png');
}

.art-blockcontent-tc
{
  top: 0;
  clip: rect(auto, auto, 7px, auto);
}

.art-blockcontent-bc
{
  bottom: 0;
  clip: rect(7px, auto, auto, auto);
}

.art-blockcontent-cr, .art-blockcontent-cl
{
  top: 7px;
  bottom: 7px;
  width: 14px;
  background-image: url('images/blockcontent_v.png');
}

.art-blockcontent-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 7px);
}

.art-blockcontent-cl
{
  left: 0;
  clip: rect(auto, 7px, auto, auto);
}

.art-blockcontent-cc
{
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background-image: url('images/blockcontent_c.png');
}

.art-blockcontent-body, 
.art-blockcontent-body li, 
.art-blockcontent-body a,
.art-blockcontent-body a:link,
.art-blockcontent-body a:visited,
.art-blockcontent-body a:hover
{
  color: #B3B3B3;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.art-blockcontent-body p
{
  margin: 6px 0 6px 0;
}

.art-blockcontent-body a
{
  color: #D28962;

}

.art-blockcontent-body a:link
{
  color: #D28962;

}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited
{
  color: #8E8E8E;
  text-decoration: none;
}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover
{
  color: #E7BF7B;
  text-decoration: none;

}

.art-blockcontent-body ul li
{
  line-height: 125%;    
  color: #9A9A9A;

  padding: 0 0 0 12px;
  background-image: url('images/blockcontentbullets.png');
  background-repeat: no-repeat;
}

.art-blockcontent-body .calendar-calendar td a:visited, .art-blockcontent-body .calendar-calendar td a.visited
{
  color: #D28962;
}

.art-blockcontent-body  ul li
{
	margin: 0.2em 0;
}

.art-blockcontent-body .links li
{
  padding: 0 0 0 1em;
  background-image: none;
}

.art-blockcontent-body .calendar-calendar td a:hover
{
  text-decoration: underline;
}

.art-blockcontent-body table td.mini a
{
  font-weight: normal;
}

.art-blockcontent-body table td div.mini-day-on a
{
  text-decoration: underline;
}

.art-blockcontent-body .calendar-calendar td a
{
  text-decoration: none;
}
/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper a.art-button,
.art-button-wrapper a.art-button:link,
.art-button-wrapper input.art-button,
.art-button-wrapper button.art-button
{
  text-decoration: none;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  position:relative;
  top:0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #E6BEA9 !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 34px;
  height: 34px;
  margin: 0 !important;
  padding: 0 21px !important;
  overflow: visible;
  cursor: default;
}

.art-button img, .art-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.art-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 34px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .art-button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.art-block select 
{
    width:96%;
}

.art-button-wrapper.hover .art-button, .art-button-wrapper.hover a.art-button:link, .art-button:hover
{
  color: #191919 !important;
  text-decoration: none !important;
}

.art-button-wrapper.active .art-button, .art-button-wrapper.active a.art-button:link
{
  color: #CACACA !important;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  display: block;
  position: absolute;
  height: 112px;
  margin: 0;
  padding: 0;
  background-image: url('images/button.png');
}

.art-button-wrapper .art-button-l
{
  left: 0;
  right: 17px;
}

.art-button-wrapper .art-button-r
{
  width: 423px;
  right: 0;
  clip: rect(auto, auto, auto, 406px);
}

.art-button-wrapper.hover .art-button-l, .art-button-wrapper.hover .art-button-r
{
  top: -39px;
}

.art-button-wrapper.active .art-button-l, .art-button-wrapper.active .art-button-r
{
  top: -78px;
}

.art-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Post */
.art-post
{
  position: relative;
  margin: 0 auto;
  min-width: 37px;
  min-height: 37px;
}

.art-post-body
{
  position: relative;
  padding: 16px;
}

.art-post-tr, .art-post-tl, .art-post-br, .art-post-bl, .art-post-tc, .art-post-bc,.art-post-cr, .art-post-cl
{
  position: absolute;
}

.art-post-tr, .art-post-tl, .art-post-br, .art-post-bl
{
  width: 48px;
  height: 48px;
  background-image: url('images/post_s.png');
}

.art-post-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 24px, 24px, auto);
}

.art-post-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 24px, 24px);
}

.art-post-bl
{
  bottom: 0;
  left: 0;
  clip: rect(24px, 24px, auto, auto);
}

.art-post-br
{
  bottom: 0;
  right: 0;
  clip: rect(24px, auto, auto, 24px);
}

.art-post-tc, .art-post-bc
{
  left: 24px;
  right: 24px;
  height: 48px;
  background-image: url('images/post_h.png');
}

.art-post-tc
{
  top: 0;
  clip: rect(auto, auto, 24px, auto);
}

.art-post-bc
{
  bottom: 0;
  clip: rect(24px, auto, auto, auto);
}

.art-post-cr, .art-post-cl
{
  top: 24px;
  bottom: 24px;
  width: 48px;
  background-image: url('images/post_v.png');
}

.art-post-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 24px);
}

.art-post-cl
{
  left: 0;
  clip: rect(auto, 24px, auto, auto);
}

.art-post-cc
{
  position: absolute;
  top: 24px;
  left: 24px;
  right: 24px;
  bottom: 24px;
  background-image: url('images/post_c.png');
}

.art-post
{
  margin: 2px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article
{
  border: solid 0 #303030;
  margin: 7px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: solid 1px #5E5E5E;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
  float:left;
}



fieldset
{
  margin: 1em 0;
  padding: 1em;
  border: solid 1px #5E5E5E;
  width: 95%;
}

/* BEGIN Flatcomments module support */

.comment-folded
{
	margin: 2px;
}

#comments .box span.art-button-wrapper
{
	margin: 0;
}

#comments .art-postcontent, #comments .art-postcontent p
{
	text-align: left;
}

/* END Flatcomments module support */
/* end Box, Post */

/* begin PostMetadata, PostMetadataHeader */
.art-postmetadataheader
{
  overflow:hidden;
  padding: 1px;
  background-image: url('images/postmetadataheader_bg.png');
  border-color: #303030;
  border-style: solid;
  border-width: 0;
}
/* end PostMetadata, PostMetadataHeader */

/* begin PostHeaderIcon */
h2.art-postheader
{
  color: #E6BEA9;
  margin: 5px 0 5px 0;
}

h2.art-postheader, 
h2.art-postheader a, 
h2.art-postheader a:link, 
h2.art-postheader a:visited,
h2.art-postheader a.visited,
h2.art-postheader a:hover,
h2.art-postheader a.hovered
{
  font-size: 24px;
}

h2.art-postheader a, h2.art-postheader a:link
{
  text-align: left;
  text-decoration: none;
  color: #DDA689;
}

h2.art-postheader a:visited, h2.art-postheader a.visited
{

  color: #B3B3B3;
}


h2.art-postheader a:hover,  h2.art-postheader a.hovered
{


  color: #D19326;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  color: #F1D9B1;
}

.art-postheadericons
{
  padding: 1px;

}

.art-postheadericons a, .art-postheadericons a:link
{
  text-decoration: none;
  color: #CF8157;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
  font-style: italic;
  font-weight: normal;
  color: #CF8157;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
  font-style: italic;
  font-weight: normal;
  text-decoration: underline;
  color: #DDA748;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.art-post ol, .art-post ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
}

.art-post li
{
  font-size: 13px;
}

.art-post li ol, .art-post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.art-post li
{
  color: #A1A1A1; 

  padding: 0;
}




.mceContentBody ul li, ol ul li
{
  background-image: url('images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: {LeftPadding}px;
}
/* end PostBullets */

/* begin PostQuote */
.art-postcontent blockquote,
.art-postcontent blockquote a,
.art-postcontent blockquote a:link,
.art-postcontent blockquote a:visited,
.art-postcontent blockquote a:hover
{
  color: #E7C17F;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

.art-postcontent blockquote p
{
   margin: 2px 0 2px 15px;
}

.art-postcontent blockquote
{
   border: solid 0 #6E6E6E;
  margin: 10px 10px 10px 50px;
  padding: 0 0 0 28px;
  background-color: #505050;
  background-image: url('images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;/* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
}



blockquote, .art-postcontent blockquote
{
  margin: 10px 10px 10px 50px !important;
  padding: 0 0 0 28px !important;
}

/* end PostQuote */

/* begin PostMetadata, PostMetadataFooter */
.art-postmetadatafooter
{
  overflow:hidden;
  padding: 1px;
  background-color: #505050;
  border-color: #303030;
  border-style: solid;
  border-width: 1px;
}
/* end PostMetadata, PostMetadataFooter */

/* begin PostIcons, PostFooterIcons */
.art-postfootericons,
.art-postfootericons a,
.art-postfootericons a:link,
.art-postfootericons a:visited,
.art-postfootericons a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  color: #AAAAAA;
}

.art-postfootericons
{
  padding: 1px;

}

.art-postfootericons a, .art-postfootericons a:link
{
  text-decoration: none;
  color: #CF8157;
}

.art-postfootericons a:visited, .art-postfootericons a.visited
{

  color: #CF8157;
}

.art-postfootericons a:hover, .art-postfootericons a.hover
{


  color: #DDA748;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.art-footer
{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.art-footer-b 
{
  position: absolute;
  left:32px;
  right:32px;
  bottom:0;
  height:32px;
  background-image: url('images/footer_b.png');
}

.art-footer-r, .art-footer-l
{
  position: absolute;
  height:32px;
  background-image: url('images/footer_s.png');
  bottom: 0;
}

.art-footer-l
{
  left: 0;
  width:32px;
}

.art-footer-r
{
  right: 0;
  width:64px;
  clip: rect(auto, auto, auto, 32px);
}

.art-footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 32px;
  background-color: #505050;
}

.art-footer-body
{
    position:relative;
    padding: 5px;
}

.art-footer-body .art-rss-tag-icon
{
  position: absolute;
  left:   20px;
  bottom:5px;
  z-index:1;
}

.art-rss-tag-icon
{
  display: block;
  background-image: url('images/rssicon.png');
  background-position: center right;
  background-repeat: no-repeat;
  height: 32px;
  width: 30px;
  cursor: default;
}

.art-footer-text p
{
  padding:0;
  margin:0;
}

.art-footer,
.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover
{
    color: #AAAAAA;
    font-size: 11px;
}

.art-footer-text
{
  min-height: 32px;
  padding: 0 10px 0 10px;

}

.art-footer,
.art-footer-text,
.art-footer p
{
  text-align: center;
}

.art-footer a,
.art-footer a:link
{
  color: #CF8157;
  text-decoration: none;
}

.art-footer a:visited
{
  color: #8E8E8E;

}

.art-footer a:hover
{
  color: #D19326;

  text-decoration: underline;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #C16737;
}

.art-page-footer
{
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: #6E6E6E;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */
.art-sidebar1 .art-layout-glare-image
{
  position:absolute;
  display:block;
  top:0;
  left:0;
  width:100%;
  height:222px;
  background-image: url('images/sidebar_g.png');
  background-repeat: no-repeat;
}

.art-content-layout .art-sidebar1
{
  background-image: url('images/sidebar_bg.png');
  width: 25%;
}

/* end LayoutCell, sidebar1 */

/* begin LayoutCell, content */




/* end LayoutCell, content */



/*
** HTML elements
*/

/* BEGIN FCKEditor, CKEditor, TinyMCE modules support*/
body.art-body-nostyle, body.cke_show_borders, #tinymce body, #tinymce body.mceContentBody, body.mceContentBody, #edit-body
{
	background-image: none;
	background-color: #424242 !important;
font-family: Arial, Helvetica, Sans-Serif;
	font-size: 13px;
}
/* END FCKEditor, CKEditor modules support*/

table
{
	width: 100%;
}

ul li, .item-list ul li, li.expanded, li.leaf, li.collapsed
{
	text-align: left;
	display: block;
	list-style-type: none;
	list-style-image: none;
	margin: 0;
}

ul.arttabs_primary, ul.arttabs_secondary, .links, img.service-links
{
	padding-left: 0;
	margin-left: 0;
}

ul.arttabs_primary li, ul.arttabs_secondary li
{
	background-image: none;
	float: left;
	display: inline;
	padding: 0;	
}

ul.links li
{
	display: inline;
	background-image: none;
}

ul.menu li a.active
{
	font-weight: bold;
}

li.messages
{
	margin: 5px 0;
}

#user-login-form
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left: 0;
}

/* Fix fieldset for IE8 and FFox */
fieldset, fieldset legend
{
	display: block;
}

.breadcrumb
{
	display: block;
	padding-bottom: .7em;
}

#edit-name, #edit-pass, #edit-mail, #search-block-form input.form-text
{
	width: 90%;
}

#preview-args
{
	width: auto;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background: #C9FBC8;
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0 transparent;
	border-bottom: 0 transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0;
	text-align: left;
}

.sticky-table H2
{
	font-size: 10px;
}

#footer
{
	text-align: center;
}

.art-blockcontent
{
	width: 100% !important;	
}

.filefield-upload .art-button-wrapper
{
	top: 10px;
}

.uc_out_of_stock_throbbing
{
	position: absolute;
	z-index: 1;
	top: 16%;
	left: 3px;
	margin: 0;
	padding: 0;
}

.profile h3
{
	border-bottom: 0 none;
	margin-bottom: 1em;
}

/* BEGIN Image Attach module fix */
img.image
{
	margin: 0;
}

.image-attach-teaser
{
	width: auto;
}
/* END Image Attach module fix */

/* BEGIN ImageField module fix */
img.imagefield
{
	margin: 0;
}
/* END ImageField module fix */

/* BEGIN Support User picture */
.picture, .comment .submitted
{
	clear: right;
	float: right;
	padding-left: 1em;
}
/* END Support User picture */

/* BEGIN Support Nodeblock module */
.art-block-body .art-postheader
{
	display: none;
}

.art-block-body .art-post
{
	margin: 0;
}
/* END Support Nodeblock module */

/* BEGIN Support floating panels in IE8 */
.panel-col-last
{
	clear: right;
}
/* END Support floating panels in IE8 */

/* BEGIN Support FCKEditor text alignment */
.rteleft
{
	text-align: left !important;
}

.rteright
{
	text-align: right !important;
}

.rtecenter
{
	text-align: center !important;
}

.rtejustify
{
	text-align: justify !important;
}
/* END Support FCKEditor text alignment */

/* BEGIN Set background color for sticky table */
table.sticky-header
{
	background-color: #424242 !important;
}
/* END Set background color for sticky table */

/* BEGIN Set alignment for radio buttons */
input.form-radio, input.form-checkbox
{
	margin: 0 0 2px;
	vertical-align: baseline;
}
/* END Set alignment for radio buttons*/

/* BEGIN Move bradcrumb from separate post */
h2.with-tabs
{
	margin-top: 0;
	margin-bottom: 0;
}

.breadcrumb
{
	margin: 1em 0 0 0.7em;
}
/* END Move bradcrumb from separate post */

/* BEGIN Increasing distance between buttons */
span.art-button-wrapper
{
	margin: 0 5px 0 0;
}
/* END Increasing distance between buttons */

/* BEGIN Page validation fix */
.half-width
{
	width: 50%;
}

.third-width
{
	width: 33%;
}

.two-thirds-width
{
	width: 67%;
}
/* END Page validation fix */

/* BEGIN FckEditor bug with link disappearing fixed */
#switch_oFCK_1
{
	display: block !important;
}
/* END FckEditor bug with link disappearing fixed */

.art-postcontent .calendar-calendar ul li, .art-postcontent .calendar-calendar ol ul li,
.art-postcontent div.view div.views-admin-links ul li, .art-postcontent div.view div.views-admin-links ol ul li
{
  background-image: none;
  padding: 2px;
}

.date-heading h3
{
  text-align: center;
}

.art-postcontent ul.arttabs_primary li, .art-postcontent ul.arttabs_secondary li
{
  background-repeat: no-repeat;
  background-image: none;
}

tbody, tbody th, tr.even, tr.odd
{
	border: none;
}


